.black{
color: black;
text-align: center;
} 
h1{
    color: brown;
} 
/black div{
background-color: black;
} 
.green{
    color: white;
    text-align: center;
} 
.gren div{
background-color: green; 
text-align: center;
} 
.green{
    
}